body {
  background-color: gray;
  font-size: 0.75em;
  line-height: 1.2em;
}
img {
  border: none;
}
.wrap {
  text-align: left;
  background-color: white;
}
a {
  text-decoration: none;
}
#logo {
  color: darkblue;
  font-size: 48px;
}
header .right a:hover {
  color: gray;
}
input {
  color: blue;
}
nav {
  background-color: aqua;
}
nav ul {
  list-style: none;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ff0099;
}
nav a {
  text-decoration: none;
  color: #000000;
  border-style: hidden hidden solid hidden;
  border-color: transparent;
}
nav a:hover {
  color: #2b4480;
  border-color: blue;
}
footer #copyright {
  font-family: consolas;
}
footer #SNS a {
  text-decoration: none;
}
#login,
#signup,
#order {
  background-color: #d8d8d8;
}
#order .head {
  font-size: 16px;
  font-weight: bolder;
}
#order table {
  border-collapse: collapse;
}
#order table td,
th {
  text-align: center;
}
#order table input {
  background-color: transparent;
}
#order table td,
th,
tr {
  border: 1px solid silver;
}
.booklist {
  font-family: arial;
  background-color: #f0f0f0;
  background-image: url(./images/cloud.jpg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: solid 3px steelblue;
  border-radius: 10px;
}
.aerialview {
  background-image: url(./images/aerialview.jpg);
}
.booklist .head {
  font-size: 16px;
  font-weight: bolder;
}
.booklist ul li {
  font-size: 12px;
  list-style-type: none;
}
.musiclist ul li {
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0.2em 0.2em 0.2em white;
}
.booklist ul li img {
  /* border: solid; */
  /* border-color: lightgray; */
  /* border-width: 1px; */
}
footer #SNS a:last-child img {
  height: 40px;
}
/* --- Media Controls Layout --- */
.controls {
  display: flex;
  align-items: center;
  gap: 12px; /* 요소 간 간격 */
  margin-top: 6px;
}

/* 아이콘 버튼 스타일 */
.controls .play {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls .play img.play-icon {
  width: 22px;
  height: 22px;
  user-select: none;
  pointer-events: none;
}

/* 시간 표시 */
.controls .time {
  font-size: 13px;
  font-weight: bold;
  min-width: 80px;
  display: inline-block;
}

/* 볼륨 label + input 정렬 */
.controls label {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.controls input.volume {
  width: 80px;
}
